<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Home</title>
</head>
<body>
	<div align="center">
		<a th:href="@{/displayBarGraph}">Bar-Graph</a><br /> <br /> 
		<a th:href="@{/displayPieChart}">Pie-Chart</a> <br />
		<a th:href="@{/displaySankey}">Sankey-Chart</a>
	</div>
</body>
</html>